<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
</head>

<body>
    <div class="container mt-4">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Full Cycle Rocks!!</h1>

        </div>

        {{#if people }}
        {{#each people}}
        <p>
        <h3>{{this.name}}</h3>
        <h3>{{this.email}}</h3>
        </p>
        <hr>
        {{/each}}
        {{/if}}
    </div>
</body>


</html>